logs/*
!.gitkeep
bower_components/
tmp
.gradle
.idea
.sass-cache
.awcache
build
*.iml
*.log
local.properties
.DS_Store
node_modules/
*.swp
dump.rdb
classes/
.awcache
.sass-cache
package-lock.json
.vscode/settings.json
.bowerrc
.jshintrc
.travis.yml
bower.json
e2e-tests/protractor.conf.js
e2e-tests/scenarios.js
karma.conf.js
LICENSE
dist/
src/dist/
